
canvas {
    background-color:#000000;
    position:absolute;
    top:0px;
    left:0px;
}


.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;     

    /*设置背景图片*/       

    
}
/*音乐播放*/
#music{
    position:fixed;
    top: .1rem;
    right:.1rem;
}
.no{
   width: .3rem;
   height: .3rem; 
   transform: rotate(360deg);
   animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
.off{
   width: .3rem;
   height: .3rem; 
   display: none;
}


/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(../images/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}





.page1 {
    position: relative;
   /* background:url('../images/p1.jpg') no-repeat center center / 100% 100%;*/
}
.page1 .img1{
     width:100%;
     height:100%;
     position:absolute;
     z-index:-1;
     opacity: 0; 
}
.page1_title{
  text-align: center;
/*   padding: .2rem 0; */
  transform: translateY(-100%);
  font-size: .2rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}
.center{
    position: relative;
    min-height: 3.8rem;
}
.center_title{
    width: 100%;
    text-align: center;
    transform: translateX(100%);
}

.left{
    position: absolute;
    left: 0;
    width:1.8rem;
    height: 2.35rem; 
    bottom: 0rem;
    transform: translate(-100%,0px); 
}
.left>img{
    width: 100%;
    height: 100%;
}


.right{
    position: absolute;
    right: .1rem;
    width:1.8rem;
    height: 2.78rem; 
    bottom: 0rem;
    transform: scale(0);
}
.right>img{
    width: 100%;
    height: 100%;
}



.cur.page1 .img1{
    opacity: 1;
    transition: all 1s;
}
.cur.page1 .page1_title{
    transform: translateY(0px);
    transition: all 1s;
}
.cur.page1 .center_title{
    transform: translateX(0px);
    transition: all 1s;
}
.cur.page1 .left{
    
    transition:1s all 1s;
    transform: translate(10%,0px);
}

.cur.page1 .right{
    
    transition: all 2s 1s;
    transform:scale(1);
}
/*page1_footer*/
.page1_footer{
    background-color: #fff;
    min-height: 2rem;
    transform:  translate(1000%,0);
}
.cur.page1 .page1_footer{
    transition:1s all 1s;
    transform: translate(0,0);
}
.p1_time{
  text-align: center;
  transform: scale(0);
}
.p1_time_img1{
    width: 0.6rem;
    height: .47rem;
    transform: translate(-500%,0);
}
.p1_time_img2{
    width: 0.6rem;
    height: .47rem;
    transform: translate(500%,0);
}
.p1_time_word{
    vertical-align:middle;
    display:inline-block;
    margin-top: -0.4rem
}
.cur.page1 .p1_time_img1{
    transition:2s all 2s;
    transform:translate(0px,0px);
}
.cur.page1 .p1_time_img2{  
    transition:2s all 2s;
    transform: translate(0px,0px);
}
.cur.page1 .p1_time{
    transition:1.5s all 2s;
    transform:scale(1);
}


.page1_footer_w{
    text-align: center;
    font-size: .2rem;
    font-weight: 900;
    color: #000;
    opacity: 0;
    text-shadow: -1px -1px #fff, 1px 1px #333;
}
.cur.page1 .page1_footer_w{
    transition:2s all 3.5s;
    opacity: 1;
}

.hat1{
    top: -.4rem;
position:absolute;
animation-timing-function: ease-in;
animation:mymove 3s infinite 1s;
}
.hat2{
    top: -.4rem;
    left: .9rem;
position:absolute;
animation-timing-function: ease-in;
animation:mymove 3s infinite 4.2s;
}
.hat3{
    top: -.4rem;
    right: .1rem;
position:absolute;
animation-timing-function: ease-in;
animation:mymove 3s infinite 2.3s;
}
.hat4{
    top: -.4rem;
    right: 1rem;
position:absolute;
animation-timing-function: ease-in;
animation:mymove 3s infinite 3.1s;
}

@keyframes mymove
{
from {top:-100px;}
to {top: 2500px;}
}
