
.page5{
    position: relative;
    
}
.page5 .img5{
     width:100%;
     height:100%;
     position:absolute;
     z-index:-1;
     opacity: 0;
     
}
.cur.page5 .img5{
    opacity: 1;
    transition:1s all 1s;
    
}
/*page1_footer*/
.page5_footer{
    padding:.1rem 0;
    background-color: #fff;
    min-height: 0.8rem;
    transform:  translate(1000%,0);
}
.cur.page5 .page5_footer{
    transition:1s all 1s;
    transform: translate(0,0);
}
.p5_time{
  text-align: center;
  transform: scale(0);
}
.p5_time_img1{
    width: 0.6rem;
    height: .47rem;
    transform: translate(-500%,0);
}
.p5_time_img2{
    width: 0.6rem;
    height: .47rem;
    transform: translate(500%,0);
}
.p5_time_word{
    vertical-align:middle;
    display:inline-block;
    margin-top: -0.4rem
}
.cur.page5 .p5_time_img1{
    transition:1.5s all 2s;
    transform: translate(0px,0px);
}
.cur.page5 .p5_time_img2{  
    transition:1.5s all 2s;
    transform: translate(0px,0px);
}
.cur.page5 .p5_time{
    transition:1s all 2s;
    transform:scale(1);
}


.page5_footer_w{
    text-align: center;
    font-size: .2rem;
    font-weight: 900;
    color: #000;
    opacity: 0;
    text-shadow: -1px -1px #fff, 1px 1px #333;
}
.cur.page5 .page5_footer_w{
    transition:1s all 3s;
    opacity: 1;
}

.page5_class{
    position: relative;
    width: 100%;
    height: 2rem;
    transform: scale(0);
}
.page5_class>img{
    width: 100%;
    height: 2rem;
}
.cur.page5 .page5_class{
    transition:1.5s all 3s;
   transform: scale(1);
}
.page5_class_padding{
  transform: scale(0);
  width: 90%; 
  height: 90%; 
  border: 1px solid #fff;
  overflow: auto; 
  margin: auto; 
  position: absolute; 
  top: 0; left: 0; bottom: 0; right: 0; 
}
.cur.page5 .page5_class_padding{
    transition:1.5s all 3.5s;
   transform: scale(1);
}

.footer_img{
    position: relative;
}
.human{
    position: absolute;
    width:1.9rem;
    height: 1.9rem;
    opacity: 0;

}
.cur.page5 .human{
    transition:1.5s all 4s;
    opacity: 1;
    animation: moveto 4s linear infinite;
}

.xt{
    right: 0;
    position: absolute;
    width:1.8rem;
    height: 1.8rem;
    transform: translate(500%,0) rotate(180deg);
}
.cur.page5 .xt{
    transition:1.5s all 4.5s;
    transform: translate(0,0) rotate(0deg);
}